.cardContainer {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  margin: 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  width: 200px;
  height: 100%;
}

.cardContainer:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.3);
}

.tempContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cold {
  color: rgb(0, 162, 255);
}

.warm {
  color: yellow;
}

.hot {
  color: red;
}
